@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f7aa79; /* Warna mencolok untuk pengujian */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f7aa79; /* Warna mencolok untuk pengujian */
  border-radius: 10px;
}
